In [1]:
#importing libraries
import requests
from bs4 import BeautifulSoup
import csv

In [4]:
url='https://www.imdb.com/chart/top/'

In [5]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36'}

In [6]:
response=requests.get(url,headers=headers)

In [7]:
response

In [8]:
soup=BeautifulSoup(response.content,'html.parser')

In [15]:
soup.find_all('h3')[1].text

'1. The Shawshank Redemption'

In [16]:
h3=soup.find_all('h3')

In [27]:
h3[1:10]

[<h3 class="ipc-title__text">1. The Shawshank Redemption</h3>,
 <h3 class="ipc-title__text">2. The Godfather</h3>,
 <h3 class="ipc-title__text">3. The Dark Knight</h3>,
 <h3 class="ipc-title__text">4. The Godfather: Part II</h3>,
 <h3 class="ipc-title__text">5. 12 Angry Men</h3>,
 <h3 class="ipc-title__text">6. Schindler's List</h3>,
 <h3 class="ipc-title__text">7. The Lord of the Rings: The Return of the King</h3>,
 <h3 class="ipc-title__text">8. Pulp Fiction</h3>,
 <h3 class="ipc-title__text">9. The Lord of the Rings: The Fellowship of the Ring</h3>]

In [29]:
for movie in h3:
    print(movie.text)

IMDb Charts
1. The Shawshank Redemption
2. The Godfather
3. The Dark Knight
4. The Godfather: Part II
5. 12 Angry Men
6. Schindler's List
7. The Lord of the Rings: The Return of the King
8. Pulp Fiction
9. The Lord of the Rings: The Fellowship of the Ring
10. Il Buono, Il Brutto, Il Cattivo
11. Forrest Gump
12. Fight Club
13. The Lord of the Rings: The Two Towers
14. Inception
15. Star Wars: Episode V - The Empire Strikes Back
16. The Matrix
17. GoodFellas
18. One Flew Over the Cuckoo's Nest
19. Se7en
20. It's a Wonderful Life
21. Shichinin No Samurai
22. Interstellar
23. The Silence of the Lambs
24. Saving Private Ryan
25. City of God
26. Life Is Beautiful
27. The Green Mile
28. Spider-man: Across the Spider-verse
29. Star Wars: Episode IV - A New Hope
30. Terminator 2: Judgment Day
31. Back to the Future
32. Spirited Away
33. The Pianist
34. Psycho
35. Parasite
36. Gladiator
37. The Lion King
38. Léon
39. American History X
40. The Departed
41. Whiplash
42. The Prestige
43. Grave of the Fireflies
44. The Usual Suspects
45. Seppuku
46. Casablanca
47. Intouchables
48. Modern Times
49. Cinema Paradiso
50. C'era Una Volta Il West
51. Rear Window
52. Alien
53. City Lights
54. Apocalypse Now
55. Django Unchained
56. Memento
57. Raiders of the Lost Ark
58. WALL·E
59. Das Leben der Anderen
60. Sunset Blvd.
61. Oppenheimer
62. Paths of Glory
63. Avengers: Infinity War
64. The Shining
65. Spider-Man: Into the Spider-Verse
66. The Great Dictator
67. Witness for the Prosecution
68. Alien 2
69. Inglourious Basterds
70. The Dark Knight Rises
71. American Beauty
72. Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
73. Oldeuboi
74. Coco
75. Amadeus
76. Toy Story
77. Das Boot
78. Braveheart
79. Avengers: Endgame
80. Joker
81. Mononoke-hime
82. Good Will Hunting
83. Kimi No Na Wa.
84. Once Upon a Time in America
85. Tengoku to Jigoku
86. 3 Idiots
87. Singin' in the Rain
88. Capharnaüm
89. Requiem for a Dream
90. Idi I Smotri
91. Toy Story 3
92. Star Wars: Episode VI - Return of the Jedi
93. Eternal Sunshine of the Spotless Mind
94. 2001: A Space Odyssey
95. Jagten
96. Reservoir Dogs
97. Ikiru
98. Lawrence of Arabia
99. The Apartment
100. Citizen Kane
101. M - Eine Stadt sucht einen Mörder
102. North by Northwest
103. Vertigo
104. Double Indemnity
105. Le fabuleux destin d'Amélie Poulain
106. Scarface
107. Full Metal Jacket
108. Incendies
109. A Clockwork Orange
110. Heat
111. Up
112. To Kill a Mockingbird
113. Hamilton
114. The Sting
115. Jodaeiye Nader Az Simin
116. Indiana Jones and the Last Crusade
117. Metropolis
118. Die Hard
119. Taare Zameen Par
120. Snatch
121. Ladri Di Biciclette
122. L.A. Confidential
123. Taxi Driver
124. 1917
125. Der Untergang
126. Dangal
127. Per qualche dollaro in più
128. Batman Begins
129. Top Gun: Maverick
130. Some Like It Hot
131. The Kid
132. The Wolf of Wall Street
133. The Father
134. Green Book
135. All About Eve
136. Judgment at Nuremberg
137. The Truman Show
138. There Will Be Blood
139. Casino
140. Shutter Island
141. Ran
142. El Laberinto Del Fauno
143. Jurassic Park
144. The Sixth Sense
145. Unforgiven
146. A Beautiful Mind
147. No Country for Old Men
148. The Treasure of the Sierra Madre
149. Yôjinbô
150. Kill Bill: Vol. 1
151. The Thing
152. Monty Python and the Holy Grail
153. The Great Escape
154. Finding Nemo
155. Rashōmon
156. The Elephant Man
157. Chinatown
158. Hauru No Ugoku Shiro
159. Dial M for Murder
160. Gone with the Wind
161. V for Vendetta
162. Prisoners
163. Raging Bull
164. Lock, Stock and Two Smoking Barrels
165. El Secreto De Sus Ojos
166. Inside Out
167. Spider-Man: No Way Home
168. Three Billboards Outside Ebbing, Missouri
169. Trainspotting
170. The Bridge on the River Kwai
171. Fargo
172. Warrior
173. Catch Me If You Can
174. Gran Torino
175. Klaus
176. My Neighbour Totoro
177. Million Dollar Baby
178. Harry Potter and the Deathly Hallows: Part 2
179. Bacheha-Ye Aseman
180. Blade Runner
181. 12 Years a Slave
182. Before Sunrise
183. The Grand Budapest Hotel
184. Ben-Hur
185. The Gold Rush
186. Barry Lyndon
187. Gone Girl
188. Hacksaw Ridge
189. In the Name of the Father
190. On the Waterfront
191. Salinui Chueok
192. The General
193. The Deer Hunter
194. Relatos Salvajes
195. Smultronstället
196. Dead Poets Society
197. The Third Man
198. Le Salaire De La Peur
199. Mad Max: Fury Road
200. Sherlock Jr.
201. Monsters, Inc.
202. Mr. Smith Goes to Washington
203. Jaws
204. How to Train Your Dragon
205. Mary and Max
206. Ford v. Ferrari
207. Det Sjunde Inseglet
208. Room
209. The Big Lebowski
210. Ratatouille
211. Tokyo Story
212. Rocky
213. Hotel Rwanda
214. Logan
215. Spotlight
216. Platoon
217. La passion de Jeanne d'Arc
218. The Terminator
219. Jai Bhim
220. Before Sunset
221. Rush
222. Network
223. The Exorcist
224. The Best Years of Our Lives
225. Stand by Me
226. La haine
227. Pirates of the Caribbean: The Curse of the Black Pearl
228. The Wizard of Oz
229. The Incredibles
230. Into the Wild
231. Hachi: A Dog's Tale
232. To Be or Not to Be
233. Ah-ga-ssi
234. My Father and My Son
235. Groundhog Day
236. La battaglia di Algeri
237. The Grapes of Wrath
238. Amores perros
239. The Sound of Music
240. Rebecca
241. Cool Hand Luke
242. The Iron Giant
243. Pather Panchali
244. The Help
245. It Happened One Night
246. The 400 Blows
247. Aladdin
248. Dances with Wolves
249. Life of Brian
250. Persona
You have rated
More to explore
Charts
Top Box Office (US)
Most Popular Movies
Top Rated English Movies
Most Popular TV Shows
Top 250 TV Shows
Lowest Rated Movies
Most Popular Celebs
Top Rated Movies by Genre
Recently viewed

In [30]:
movies=soup.find_all('li',class_='ipc-metadata-list-summary-item sc-59b6048d-0 cuaJSp cli-parent')

In [63]:
for movie in movies:
    name=movie.find('div',class_='ipc-metadata-list-summary-item__c').h3.text.split('.')[1]
    rank=movie.find('div',class_='ipc-metadata-list-summary-item__c').h3.text.split('.')[0]
    year=movie.find('div',class_='sc-479faa3c-7 jXgjdT cli-title-metadata').span.text
    duration=movie.find('div',class_='sc-479faa3c-7 jXgjdT cli-title-metadata').find_all('span')[1].text
    rating=movie.find('div',class_='sc-e3e7b191-0 jlKVfJ sc-479faa3c-2 eUIqbq cli-ratings-container').span.text[0:4]
    print(rating)
    break

9.3

In [65]:
with open('movie-data.csv','w',newline='',encoding='utf-8-sig') as f:
    csv_writer=csv.writer(f)
    heading =['Rank','Name','Year','Duration','Ratings']
    csv_writer.writerow(heading)
    for movie in movies:
        name=movie.find('div',class_='ipc-metadata-list-summary-item__c').h3.text.split('.')[1]
        rank=movie.find('div',class_='ipc-metadata-list-summary-item__c').h3.text.split('.')[0]
        year=movie.find('div',class_='sc-479faa3c-7 jXgjdT cli-title-metadata').span.text
        duration=movie.find('div',class_='sc-479faa3c-7 jXgjdT cli-title-metadata').find_all('span')[1].text
        rating=movie.find('div',class_='sc-e3e7b191-0 jlKVfJ sc-479faa3c-2 eUIqbq cli-ratings-container').span.text[0:4]
        csv_writer.writerow([rank,name,year,duration,rating])

In [66]:
import pandas as pd
df=pd.read_csv('movie-data.csv')

In [67]:
df

     Rank                       Name  Year Duration Ratings
0       1   The Shawshank Redemption  1994   2h 22m    9.3
1       2              The Godfather  1972   2h 55m    9.2
2       3            The Dark Knight  2008   2h 32m    9.0
3       4     The Godfather: Part II  1974   3h 22m    9.0
4       5               12 Angry Men  1957   1h 36m    9.0
..    ...                        ...   ...      ...     ...
245   246              The 400 Blows  1959   1h 39m    8.1
246   247                    Aladdin  1992   1h 30m    8.0
247   248         Dances with Wolves  1990    3h 1m    8.0
248   249              Life of Brian  1979   1h 34m    8.0
249   250                    Persona  1966   1h 25m    8.1

[250 rows x 5 columns]

In [69]:
df.head(15)

,Rank,Name,Year,Duration,Ratings
0,1,The Shawshank Redemption,1994,2h 22m,9.3
1,2,The Godfather,1972,2h 55m,9.2
2,3,The Dark Knight,2008,2h 32m,9.0
3,4,The Godfather: Part II,1974,3h 22m,9.0
4,5,12 Angry Men,1957,1h 36m,9.0
5,6,Schindler's List,1993,3h 15m,9.0
6,7,The Lord of the Rings: The Return of the King,2003,3h 21m,9.0
7,8,Pulp Fiction,1994,2h 34m,8.9
8,9,The Lord of the Rings: The Fellowship of the ...,2001,2h 58m,8.8
9,10,"Il Buono, Il Brutto, Il Cattivo",1966,2h 41m,8.8
10,11,Forrest Gump,1994,2h 22m,8.8
11,12,Fight Club,1999,2h 19m,8.8
12,13,The Lord of the Rings: The Two Towers,2002,2h 59m,8.8
13,14,Inception,2010,2h 28m,8.8
14,15,Star Wars: Episode V - The Empire Strikes Back,1980,2h 4m,8.7